@model Product 

@{
    ViewData["Title"] = "Edit Product";
}




<form asp-action="Edit">
    <input type="hidden" asp-for="ProductId" />
      <div class="container">
        <div class="mb-2">
            <label asp-for="ProductName" class="control-label"></label>
            <input asp-for="ProductName" class="form-control" />
            <span asp-validation-for="ProductName" class="text-danger"></span>

        </div>
        <div class="mb-2">
            <label  class ="control-label">Category</label>
            <select asp-for="CategoryId_"  class="form-control" asp-items="ViewBag.Categories">
                <option><----select Category-----></option>
            </select>
        </div>
        <div>
            <input type="submit" value="Edit Product" class="btn btn-success btn-sm">
        </div>

    </div>
</form>